body{
    background-color: #6ab0ce;
    height: 1000px;
    text-align: center;
}
#nube1{
    position: absolute;
    top: 0px;
    left: 10px;
    width: 1000px;
}
#nube2{
    position: absolute;
    top: 200px;
    right: 50px;
    width: 1000px;
}

p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}